.g_image {
	padding: 0;
}

#layout-menu li.sub-menu {
	margin-bottom: 0.5em;
}

#layout-menu li.sub-menu ul li a,
#layout-menu li.sub-menu ul li.alert {
	height: 20px;
	display: block;
	width: 100%;
}

#layout-menu li.sub-menu ul li > a > span,
#layout-menu li.sub-menu ul li > span {
	display: block;
}

#layout-menu li.sub-menu ul li > a,
#layout-menu li.sub-menu ul li > label,
#layout-menu li.sub-menu ul li > span {
	line-height: 20px;
}

.i_forum_link,
#layout-menu li.sub-menu.main span.tab {
	display: none;
}

#layout-menu li.sub-menu span.tab {
	display: block;
}

#layout-main ul.g_list {
	min-height: 2.2em;
}

#layout-main div.forum div.topic_actions {
	min-height: 23px;
}

#layout-search ul.quicksearch .g_bubble.stripe {
	margin: 0 !important;
}

#layout-main div.admin_all div.g_menu h4 {
	text-align: left;
}

#layout-search ul.quicksearch {
	margin: 0 0 0 2px;
}